/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 2 déc. 2022, 19:24:59
    Author     : jules 
*/

.Scene{
    -fx-background-color:#696969;
    -fx-font-size : 11 pt;
}