/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 4 déc. 2022, 14:10:03
    Author     : jules
*/

/*#grille-annonce >.text-field .text{  -fx-font-size: 22px;  }*/



#vue-connexion-inscription{
    /*-fx-background-color:#252525;*/
    -fx-font-size: 22px;

}

#vue-image{
    -fx-background-color:whitesmoke;
}

#annonce {
    -fx-font-family: Segoe UI;
    -fx-font-size: 25px;
    -fx-letter-spacing: 1px;
    -fx-word-spacing: 4px;
    -fx-color: #238636;
    -fx-font-weight: bold;
    -fx-text-decoration: none;
    -fx-font-style: normal;
    -fx-font-variant: normal;
    -fx-text-transform: none;
    -fx-vgap: 10px;
    -fx-hgap: 30px;
    -fx-border-insets: 30 ;
    -fx-border-color: #3B2786 ;
    -fx-border-width: 3 ;
    -fx-border-radius:15px;
    -fx-spacing: 10;
    -fx-padding: 10 30 10 30;
}


#grand-text-annonce {
    -fx-font-size: 40px;
    -fx-text-fill: #7ED167;
}
#vue-nouvelle-annonce {
    -fx-font-family: Segoe UI;
    -fx-font-size: 25px;
    /*    -fx-letter-spacing: 1px;
        -fx-word-spacing: 4px;*/
    -fx-color: #238636;
    -fx-font-weight: bold;
    /*-fx-text-transform: none;*/
    -fx-background-color:#001419;
    -fx-text-fill: blue;


}


#vue-connexion-inscription>.label {
    -fx-text-fill: white;
}

#grand-texte{
    -fx-font-size: 50px;
}

#nom-prenom {
    -fx-font-family: Tahoma;
    -fx-font-size: 35px;
    -fx-color: #241f31;
    -fx-font-weight: bold;
    -fx-font-variant: small-caps;
    -fx-text-transform: uppercase;
    -fx-text-fill: white;
    -fx-padding: 10 0 0 0;
}


#vue-acceuil{
    -fx-font-size: 50px;
    -fx-alignment: center-right;
    -fx-padding: 100;
    -fx-hgap: 30;
    -fx-vgap:10;
}

#bar-recherche{
    -fx-background-color:#0B2239;
    -fx-font-size: 25px;
    -fx-padding: 9 9 9 9;
    -fx-color: #238636;
}

/*#bouton-vert{
    -fx-content-display : center;
    -fx-alignment : center;
    -fx-background-color: #32cd32;
    -fx-text-fill: white;
    -fx-padding: 3 6 6 6;
}*/

#bouton-vert{
    -fx-content-display : center;
    -fx-max-width: 600;
    -fx-alignment : center;
    -fx-padding: 3 6 6 6;
    -fx-color: #fff;
    -fx-background-color: #08c708;
    -fx-align-items: center;
    -fx-background-radius: 5px;

}

#bouton-vert:hover{
    -fx-initial-delay:250;
    -fx-transition : 383ms;
    -fx-max-width: 300;
    -fx-color: #19d10c;
    -fx-background-radius: 30px;

}


#bouton-rouge{
    -fx-content-display : center;
    -fx-max-width: 600;
    -fx-background-radius: 5px;
    -fx-alignment : center;
    -fx-background-color: #ff0000;
    -fx-text-fill: white;
    -fx-padding: 3 6 6 6;
}

#bouton-rouge:hover{
    -fx-max-width: 300;
    -fx-background-radius: 30px;
    -fx-background-color:#ff0000 ;
}

#bouton-bleu:hover{
    -fx-content-display : center;
    -fx-max-width: 300;
    -fx-alignment : center;
    -fx-padding: 3 6 6 6;
    -fx-color: #fff;
    -fx-align-items: center;
    -fx-background-radius: 30px;
    -fx-background-color:#00bfff ;
}
#bouton-bleu{
    -fx-content-display : center;
    -fx-max-width: 600;

    -fx-alignment : center;
    -fx-padding: 3 6 6 6;
    -fx-color: #fff;
    -fx-align-items: center;
    -fx-background-radius: 5px;
    -fx-background-color:#00bfff ;
}

#topbar{
    -fx-spacing:20;
    -fx-background-color:#0B2239;
}

.text-area .scroll-bar:vertical:disabled {
    -fx-opacity: 0;
}

.text-field{
    -fx-font-size: 25px;
}

.combo-box{
    -fx-font-size: 25px;
}

.button {

    -fx-font-size: 25px;
    -fx-background-radius: 3px;
}

#grand-titre-bienvenue{
    -fx-font-family: Segoe UI;
    -fx-font-size: 100px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}

#bouton-annonce-en-cours{
    -fx-background-color:#148ca7;
    -fx-text-fill: white;
    -fx-max-width: 500;
    -fx-background-radius: 15px;
}
#bouton-annonce-en-cours:hover{
    -fx-background-color:#A9BBFF;
    -fx-text-fill: #0B2239;
}

#bouton-mes-annonces {
    -fx-background-color:#148ca7;
    -fx-text-fill: white;
    -fx-background-radius: 15px;
    -fx-max-width: 500;
}
#bouton-mes-annonces:hover {
    -fx-background-color:#A9BBFF;
    -fx-text-fill: #0B2239;
}

#bouton-mes-enchere{
    -fx-background-color:#148ca7;
    -fx-text-fill: white;
    -fx-background-radius: 15px;
    -fx-max-width: 500;
}
#bouton-mes-enchere:hover{
    -fx-background-color:#A9BBFF;
    -fx-text-fill: #0B2239;
}
#bouton-nouvelle-annonce{
    -fx-background-color:#A9BBFF;
    -fx-background-radius: 15px;
    -fx-font-size: 35px;
}
#bouton-nouvelle-annonce:hover{
    -fx-background-color:#148ca7;
    -fx-text-fill: #0B2239;
}
#text-recherche{
    -fx-text-fill: #238636;
}