/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 4 déc. 2022, 14:10:03
    Author     : jules
*/

/*#grille-annonce >.text-field .text{  -fx-font-size: 22px;  }*/



#vue-connexion-inscription{
    /*-fx-background-color:#252525;*/
    -fx-font-size: 22px;

}


#annonce {
    -fx-font-family: Segoe UI;
    -fx-font-size: 25px;
    -fx-letter-spacing: 1px;
    -fx-word-spacing: 4px;
    -fx-color: #241f31;
    -fx-font-weight: bold;
    -fx-text-decoration: none;
    -fx-font-style: normal;
    -fx-font-variant: normal;
    -fx-text-transform: none;
    -fx-vgap: 10px;
    -fx-hgap: 30px;
    -fx-border-insets: 30 ;
    -fx-border-color: blue ;
    -fx-border-width: 3 ;
    -fx-border-radius:15px;
    -fx-spacing: 10;
    -fx-padding: 10 30 10 30;
}


#grand-text-annonce {
    -fx-font-size: 40px;
    -fx-text-fill: red;
}
#vue-nouvelle-annonce {
    -fx-font-family: Segoe UI;
    -fx-font-size: 25px;
    -fx-letter-spacing: 1px;
    -fx-word-spacing: 4px;
    -fx-color: #241f31;
    -fx-font-weight: bold;
    -fx-text-decoration: none;
    -fx-font-style: normal;
    -fx-font-variant: normal;
    -fx-text-transform: none;
    -fx-background-color:#c1d2ff;

}


#vue-connexion-inscription>.label {
    -fx-text-fill: white;
}

#grand-texte{
    -fx-font-size: 50px;
}

#nom-prenom {
    -fx-font-family: Tahoma;
    -fx-font-size: 25px;
    -fx-color: #241f31;
    -fx-font-weight: bold;
    -fx-font-variant: small-caps;
    -fx-text-transform: uppercase;
}


#vue-acceuil{
    -fx-font-size: 50px;
    -fx-alignment: center-right;
    -fx-padding: 100;
    -fx-hgap: 30;
    -fx-vgap:10;
}

#bar-recherche{
    -fx-background-color:#c1d2ff;
    -fx-font-size: 25px;
    -fx-padding: 9 9 9 9;
}

/*#bouton-vert{
    -fx-content-display : center;
    -fx-alignment : center;
    -fx-background-color: #32cd32;
    -fx-text-fill: white;
    -fx-padding: 3 6 6 6;
}*/

#bouton-vert{
    -fx-content-display : center;
    -fx-max-width: 200;
    -fx-alignment : center;
    -fx-padding: 3 6 6 6;
    -fx-color: #fff;
    -fx-background-color: #08c708;
    -fx-align-items: center;
    -fx-background-radius: 15px;

}

#bouton-vert:hover{
    -fx-initial-delay:300;
    -fx-transition : 383ms;
    -fx-max-width: 500;
    -fx-color: #19d10c;

}

#bouton-rouge{
    -fx-content-display : center;
    -fx-alignment : center;
    -fx-background-color: #ff0000;
    -fx-text-fill: white;
    -fx-padding: 3 6 6 6;
}
#bouton-bleu{
    -fx-content-display : center;
    -fx-alignment : center;
    -fx-background-color:#00bfff ;
    -fx-text-fill: white;
    -fx-padding: 3 6 6 6;
}

#topbar{
    -fx-spacing:20;
    -fx-background-color:#e2e2e2;
}

.text-area .scroll-bar:vertical:disabled {
    -fx-opacity: 0;
}

.text-field{
    -fx-font-size: 25px;
}

.combo-box{
    -fx-font-size: 25px;
}

.button {

    -fx-font-size: 25px;
    -fx-background-radius: 30;
}

#grand-titre-bienvenue{
    -fx-font-family: Segoe UI;
    -fx-font-size: 100px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
